"context-menu":
  "atom-workspace": [
	  label: "Get Path"
	  submenu: [
		    {
		      label: "Get Path"
		      command: "get-path"
		    }
		    {
		      label: "Get Path for @lang()"
		      command: "get-path:forlang"
		    }
		    {
		      label: "Copy Project Path"
		      command: "copy-project-relative-path"
		    }
		    {
		      label: "Copy Full Path"
		      command: "copy-full-path"
		    }

	    ]
  ]
